<!DOCTYPE html>
<html lang="sl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Podrobnosti pregleda</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body class="page-pregled">
    <div class="container">
        
        <h1>Podrobnosti pregleda</h1>
        <h2>Pregled #{{pregled.id_pregleda}}</h2>

        <div class="details-section">
            <div class="detail-item">
                <span class="label">Pacient:</span>
                <span class="value">{{ime_pacienta}}</span>
            </div>
            <div class="detail-item">
                <span class="label">Oddelek:</span>
                <span class="value">{{pregled.ime_oddelka}}</span>
            </div>
            <div class="detail-item">
                <span class="label">Lokacija:</span>
                <span class="value">{{lokacija}}</span>
            </div>
             <div class="detail-item">
                <span class="label">Zdravnik:</span>
                <span class="value">{{ime_zdravnika}}</span>
            </div>
            <div class="detail-item">
                <span class="label">Datum:</span>
                <span class="value">{{pregled.datum.strftime('%d. %m. %Y')}}</span>
            </div>
            <div class="detail-item">
                <span class="label">Termin:</span>
                <span class="value">{{pregled.cas.strftime('%H:%M')}}</span>
            </div>
            % if pregled.opis: 
            <div class="detail-item">
                <span class="label">Opis:</span>
                <span class="value">{{pregled.opis}}</span>
            </div>
            % end
        </div>

        <div class="actions">
            <a href="/" class="btn btn-back">Nazaj na profil</a>
        </div>

    </div>
</body>
</html>