<!DOCTYPE html>
<html lang="sl">
<head>
    <meta charset="UTF-8">
    <title>Prijava</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

    <!-- Logo in top-left corner -->
    <div class="header">
        <img src="/static/logo.png" alt="Logo">
    </div>

    <div class="login-wrapper">
    <!-- Login Form -->
        <div class="login-container">
            <h2>Prijava</h2>
            <form action="/prijava" method="post">
                <input type="text" name="username" placeholder="Uporabniško ime" required>
                <input type="password" name="password" placeholder="Geslo" required>
                <input type="submit" value="Prijavi se">
            </form>
            % if napaka:
                <div class="error-message">{{napaka}}</div>
            % end
        </div>
    </div>
</body>
</html>

