<!DOCTYPE html>
<html lang="sl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profil</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body class="page-profil">
    <!-- Logo in top-left corner -->
    <div class="header">
        <img src="/static/logo.png" alt="Logo">
    </div>

<div class="container_profil">

    <h1>Profil: {{uporabnisko_ime}}</h1>
    
    <div class="user-details">
        <h2>Osebni podatki</h2>
        <div><span>Ime:</span> {{ime_pacienta}}</div>
        <div><span>Datum rojstva:</span> {{datum_rojstva}}</div>
        <div>
            <span>Spol:</span>
            % if spol == "Female": 
                Ženski
            % elif spol == "Male":
                Moški 
            % else:
                Drugo
            % end
        </div>
        <div>
            <span>Redni pacient:</span>
            % if reden: 
                Da
            % else: 
                Ne
            % end
        </div>
    </div>

    <div>
        <h2>Moji pregledi</h2>
        <table>
            <thead>
                <tr>
                    <th>Oddelek</th>
                    <th>Datum pregleda</th>
                    <th>Podrobnosti</th>
                </tr>
            </thead>
            <tbody>
                % for pregled in pregledi:
                <tr>
                    <td>{{pregled.ime_oddelka}}</td>
                    <td>{{pregled.datum}}</td>
                    <td><a href="/pregled/{{pregled.id_pregleda}}">Pokaži</a></td>
                </tr>
                % end
            </tbody>
        </table>
    </div>

    <div class="actions">
        <a href="/odjava" class="btn btn-secondary">Odjava</a>
        <a href="/dodaj_pregled" class="btn btn-primary">Dodaj pregled</a>
    </div>

</div>

</body>
</html>