<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uspešno naročanje</title>
</head>
<body>
    <div>Uspešno ste se naročili na pregled, {{ime_pacienta}}</div>
    <div>Oddelek: {{ime_oddelka}}</div>
    <div>Lokacija: {{lokacija}}</div>
    <div>Datum pregleda: {{datum}}</div>
    <div>Termin pregleda: {{termin}}</div>
    <div>Zdravnik: {{ime_zdravnika}}</div>
    <a href="/">Nazaj na začetno stran</a>
</body>
</html>